<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Hackathon_BigBrother>
            <version>0.0.2</version>
        </Hackathon_BigBrother>
    </modules>
    <global>
        <models>
            <bigbrother>
                <class>Hackathon_BigBrother_Model</class>
                <resourceModel>bigbrother_resource</resourceModel>
            </bigbrother>
            <bigbrother_resource>
                <class>Hackathon_BigBrother_Model_Resource</class>
                <entities>
                    <session>
                        <table>bigbrother_session</table>
                    </session>
                </entities>
            </bigbrother_resource>
        </models>
        <resources>
            <bigbrother_setup>
                <setup>
                    <module>Hackathon_BigBrother</module>
                </setup>
            </bigbrother_setup>
        </resources>
        <helpers>
            <bigbrother>
                <class>Hackathon_BigBrother_Helper</class>
            </bigbrother>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <bigbrother>
                    <file>bigbrother.xml</file>
                </bigbrother>
            </updates>
        </layout>
    </frontend>
    <default>
        <bigbrother>
            <settings>
                <node_url>http://bigbrother.dev:3000/</node_url>
            </settings>
        </bigbrother>
    </default>
</config>