div.main-col-inner {
    height: 100%;
}

iframe#bigbrother-player {
    width: 100%;
    height: 100%;
    border: 1px solid #5F767F;
}

ul#bigbrother-sessions li {
    padding: 10px 5px;
    border-bottom: 1px solid #5F767F;
}

ul#bigbrother-sessions li span {
    color: #999999;
}